body {
  /* background: #f00; */ }

.exampleBox {
  margin-top: 3vh;
  border: 1px solid #555; }
  .exampleBox .title {
    background: #e6f9ff;
    padding: 10px; }

.lesson04 h1 > strong {
  color: red; }

.lesson04 h1 > em > strong {
  color: purple; }

.lesson05 h5 + p {
  color: #f00; }

.lesson05 li + li {
  font-weight: bold; }

.lesson06 div > p + span {
  background: red; }

.lesson06 div > p + li {
  background: red; }

.lesson07 div.content h1 {
  background: purple; }

.lesson07 div.content h1 + div {
  background: blue; }

.lesson07 div.content h1 + div ol {
  background: yellow; }

input[title*="format"] {
  background-color: #dedede; }

*[class|="btn"][class*="-arrow"]:after {
  content: "$"; }
