.borderB01 {
  border: 1px solid #00f; }

.pageBreak01 {
  background: #e5e5e5;
  padding: 10px;
  text-align: center; }

.callOutContainer {
  max-width: 1400px;
  margin: 40px auto 0 auto; }

.callOut {
  padding: 20px;
  box-sizing: border-box;
  flex-basis: 20%; }
  .callOut:nth-child(1) {
    background-color: #fccc99; }
  .callOut:nth-child(2) {
    background-color: #edffad; }
  .callOut:nth-child(3) {
    background-color: #ff77f8; }
  .callOut:nth-child(4) {
    background-color: #fc4e85; }

.fixedContainer02 {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: #f7e3e3;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap; }

.fixedBox01 {
  width: 220px;
  height: 150px;
  border: 1px solid #00f;
  margin: 10px;
  background-color: #990b47;
  color: #fff;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px; }

.banner {
  height: 200px;
  max-width: 400px;
  margin: 20px auto;
  background-color: #2a2a2a;
  display: flex; }

.centerMe {
  color: #fff;
  font-size: 20px;
  margin: auto; }

.equalContainer {
  max-width: 900px;
  margin: 0 auto; }
  .equalContainer .firstBox {
    background-color: #ede1c0;
    padding: 20px;
    flex: 1; }
  .equalContainer .secondBox {
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: row; }
    .equalContainer .secondBox .second01 {
      background-color: #9addf9;
      flex: 1; }
    .equalContainer .secondBox .second02 {
      background-color: #c0dbe2;
      flex: 1; }

@media (min-width: 700px) {
  .callOutContainer {
    display: flex;
    align-items: stretch;
    justify-content: flex-start; }
  .equalContainer {
    display: flex; } }
