body{
  /* background: #f00; */
  font-family: sans-serif;
}

.clearfix{
  clear: both;
  content: none;
  border: 1px solid blue;
}


.exampleBox{
  margin-top: 3vh;

  border:1px solid #555;
  .title{
    background: #e6f9ff;
    padding: 10px;
  }
}

.lesson01{
  .box01 {display: flex;}
  .box02 {display: inline-flex;}
  div {border: 1px dashed; background: #eee;}
  div > * {border: 1px solid; background: #e2e2e2;}
  div p {margin: 10px;}

}


.lesson02{
  .flex_box_main01 {
    display: flex;
    background-color: rgba(0,0,0,0.1);
    border: 1px dashed;
    padding: 3px;
  }
  .flex_box_main02 {
    display:inline-flex;
    background-color: rgba(0,0,0,0.1);
    border: 1px dashed;
    padding: 3px;
  }


  .flexbox01 {
    border: 1px solid;
    margin: 10px;
    padding: 20px 5px;
    line-height: 30px;
    background: #bcd2f4;
  }

}


.lesson03{

  nav {
    display: flex;
    a{padding: 5px;background-color: #d6e6ff;}

    a:hover, a:focus, a:active {
    background-color: #aacbff;
    color: black;
    }

  }
}



.lesson04{
  .container{
    min-width: 150px;
    max-width: 200px;
  }
  nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
  }
  a {
    margin: 5px;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #ccc;
    text-decoration: none;
    color: black;
  }
  a:hover, a:focus, a:active {
    background-color: #aaa;
    text-decoration: underline;
  }
}


.lesson05{
  * {
    outline: 1px #ccc solid;
    margin: 10px;
    padding: 10px;
  }
  nav, main, article {
    display: flex;
  }
  article {
    flex-direction: column;
  }
}


input[title*="format"] {background-color: #dedede;}
*[class|="btn"][class*="-arrow"]:after { content: "$";}
