$primary:#3292a6;
$primary-overlay:rgba(50,146,166,0.8);
$blue:rgba(#21b970, 0.8);
$secondry01:rgba(#ccb621, 0.8);

.btn-primary{
  background-color: $blue;
  border-color: $blue;
  &:hover{
    background-color: $secondry01;
    border-color: $secondry01;
  }
}

body{
  margin-top: 105px;
}

#newsletter{
  .form-control-lg{
    border-radius: 0;
  }
  .fa{
    border-radius: 0;

  }
  .btn-lg{
    border-radius: 0;

  }
}


.navbar{
  box-shadow: 0px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;
  .nav-item{
    font-size: 1.1rem;
    padding-right: 10px
  }
}

#section01{
  position: relative;
  background: url('../img/bg01.jpg') center center no-repeat;
  min-height:600px;
  .primary-overlay{
    background: $primary-overlay;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.info-header{
  // border: 1px solid #f00;
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}


#authors{
  img{
    margin-top: -50px;
  }
  .fa{
    font-size: 25px;
  }
  .card:hover{
    // box-shadow: 1,1,1,rgba(#777777, 0.54);
    color: #fff;
    background: $primary;

    .fa{
      color: #fff
    }
  }
}

.input-group-addon{
  border: 1px solid rgba(#333333, 0.2);
  border-radius: 0.5em;
  padding: 1em;
}


.borderB01{
  border:1px solid #00f;
}
