body{
  /* background: #f00; */
  font-family: sans-serif;
}

.borderR01{border: 2px solid red}
.borderG01{border: 2px solid green}
.borderB01{border: 2px solid blue}



.clearfix{
  clear: both;
  content: none;
  border: 1px solid blue;
}






.lesson07{
  .container01{
    display: flex;
  }

  .box{
    flex: 1 0.25 auto;
  }

  .box:last-child{
    flex: 1 0.75 auto;
  }

}








.lesson06{
  border: 2px solid #00f;

  .container01{
    background-image: url("../img/car_img_001.jpg");
    background-position: center;
    background-size: cover;
    border: 2px solid #999;
    margin:0 auto;
    display: flex;
    justify-content: center;
    .guitar{
      width:100%;
      border-radius: 0.5em;
      opacity: 0.95;
    }
    .box01{
      p{
        font-weight: bold;
      }
    }
  }
  .box01{
    // border: 2px solid #f00;
    align-self:center;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0.5em;
    background:rgba(255,255,255,0.7)
  }
  .box02{
    // border: 2px solid #0f0;
    align-self: center;
    max-width: 550px;
    margin: 40px 20px;
  }

}




















.exampleBox{
  margin-top: 3vh;

  border:1px solid #555;
  .title{
    background: #e6f9ff;
    padding: 10px;
  }
}

.lesson01{
  .box01 {display: flex;}
  .box02 {display: inline-flex;}
  div {border: 1px dashed; background: #eee;}
  div > * {border: 1px solid; background: #e2e2e2;}
  div p {margin: 10px;}

}


.lesson02{
  .flex_box_main01 {
    display: flex;
    background-color: rgba(0,0,0,0.1);
    border: 1px dashed;
    padding: 3px;
  }
  .flex_box_main02 {
    display:inline-flex;
    background-color: rgba(0,0,0,0.1);
    border: 1px dashed;
    padding: 3px;
  }


  .flexbox01 {
    border: 1px solid;
    margin: 10px;
    padding: 20px 5px;
    line-height: 30px;
    background: #bcd2f4;
  }

}


.lesson03{

  nav {
    display: flex;
    a{padding: 5px;background-color: #d6e6ff;}

    a:hover, a:focus, a:active {
    background-color: #aacbff;
    color: black;
    }

  }
}



.lesson04{
  .container{
    min-width: 150px;
    max-width: 200px;
  }
  nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
  }
  a {
    margin: 5px;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #ccc;
    text-decoration: none;
    color: black;
  }
  a:hover, a:focus, a:active {
    background-color: #aaa;
    text-decoration: underline;
  }
}


.lesson05{
  * {
    outline: 1px #ccc solid;
    margin: 10px;
    padding: 10px;
  }
  nav, main, article {
    display: flex;
  }
  article {
    flex-direction: column;
  }
}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .container01{
    flex-direction:column-reverse;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .container01{
    flex-direction:row;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}




input[title*="format"] {background-color: #dedede;}
*[class|="btn"][class*="-arrow"]:after { content: "$";}
